# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.djackets_vue.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\User\RiderProjects\djackets_vue\.idea\.idea.djackets_vue.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
